main{
	margin: 50px auto;
	height: 500px;
	width: 400px;
	background-color: #FFA500;
	border: 2px solid black; 
}
#display{
	height: 80px;
	margin: 10px auto;
	width: 380px;
	border: 2px solid black;
	font-size: 34px;
	text-align: right;

}

button{
	margin: 28px;
	font-size: 20px;
	line-height: 1.5;
	width: 40px;

}