<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  
   <%= erb(:'partials/navigation', :layout => false) %>
  
   <!-- our template content will be injected here -->
   <%= yield %>

</body>
</html>